**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
u="tony"
len(u)

In [ ]:
u="tony"
count=0
for i in u:
    count+=1
print(count)

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [3]:
x="w"
y=" "
if len(x)<2:
    print(y)

elif len(x)==2:
    y=x+x
    print(y)
else:
    y= x[0:2]+x[len(x)-2:len(x)]
    print(y)

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [4]:
x=input()
if len(x)<3:
    print(x)
else:
    if x[len(x)-3:len(x)]=="ing":
        print(x+"ly")
    else:
        print(x+"ing")

abcing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [52]:
x=["exercise","length","tony","ayman"]
y=0
l=" "
for i in x :
    if len(i)>y :
        y=len(i)
        l=i
print(l)
print(y)

exercise
8

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [6]:
x=input()
l=input()+x[1:len(x)-1]+input()

print(l)

ebe

In [7]:
x=input()
a=len(x)-1
x=x.replace(x[0],input())
x=x.replace(x[a],input())
print(x)

aohf

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
x=input()
l=list(x)
y=""
index=0
for i in l:
    index =l.index(i)
    if index%2!=0:
     continue
    y+=i
print(y)

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [11]:
x="amr and ahmed are frindes but amr is the tallest"
x=x.split()
c=[]
for i in x:
    c.append(x.count(i))
print(max(c))

2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
x=input()
print(x.lower())
print(x.upper())

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
x=input()
if len(x)%4==0:
   x=x[::-1]
print(x)

**10- Write a Python program to remove a newline in Python

In [ ]:

x = " intant   "
s = x.strip()
print(s)

**11-Write a Python program to check whether a string starts with specified characters

In [1]:
x="*ijoil"
x.startswith("*i")

True

**12- Write a Python program to add prefix text to all of the lines in a string

In [9]:
u=["tadaw","dwadw"]
f="app"
l=[f+ x for x in u]
print(str(l))

['apptadaw', 'appdwadw']

**13-Write a Python program to print the following numbers up to 2 decimal places

In [10]:
u=12.665559694
f="{:.2f}".format(u)
print(f)

12.67

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [11]:
u=12.665559694
print("%.2f"%u)

12.67

**15-Write a Python program to display a number with a comma separator

In [12]:
n=122000000
u="{:,}".format(n)
print(u)

122,000,000

**16-Write a Python program to reverse a string using 2 ways

In [17]:
n="adadwdwqd"
print(n[::-1])

dqwdwdada

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [30]:
s="daddqwdqdqdwqdefewfwgrg"
dic={}
for i in s:
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1    
 
print(dic)

{'d': 7, 'a': 1, 'q': 4, 'w': 4, 'e': 2, 'f': 2, 'g': 2, 'r': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [32]:
s="daddqwdqdqdwqdefewfwgrg"
dic={}

for i in s:
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1  
for  l in dic:
    if dic[l]==1:
        print (l)
        break

a

**19-Write a Python program to remove spaces from a given string

In [44]:
u="dsdasdqwd dwqdqwdwqd dqwdwq "
x=u.replace(" ","")
print(x)

dsdasdqwddwqdqwdwqddqwdwq

**20-Write a Python program to count the number of non-empty substrings of a given string

In [60]:
s="tony"
ans=len(s)
for i in range(ans):
    ans+=i
print(ans)

10

**21-write a Python program to swap first and last element of any list.

In [43]:
l=["klkjip","dwdwadwad","dawdawdad","dwddffefqw"]
i=0
j=len(l)
x=l[j-1]
l[j-1]=l[i]
l[i]=x
print(l)

['dwddffefqw', 'dwdwadwad', 'dawdawdad', 'klkjip']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [49]:
l = [23, 65, 19,90]
pos1=1
pos2=3
x=l[pos2-1]
l[pos2-1]=l[pos1-1]
l[pos1-1]=x
print(l)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [51]:
l = [23, 65, 19,90]
x=len(l)
print (x)

4

In [52]:
l=[23, 65, 19,90]
count=0
for x in l:
    count+=1
print(count)

4

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [54]:
l = [23, 65, 19,90]
x=0
for i in l :
    if x<i:
        x=i
   
print(x)

90

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [55]:
l = [23, 65, 19,90]
x=l[0]
for i in l :
    if x>i:
        x=i
   
print(x)

19

**26-search for if an elem is existing in list

In [73]:
l = [23, 65, 19,90]
x=input()
y=False
for i in l:
    if i==x:
        y=True

print(y)

False

**27- clear python list using different ways

In [79]:
l = [23, 65, 19,90]
del l[:]
print(l)

[]

In [77]:
l = [23, 65, 19,90]
l=[]
print(l)

[]

In [75]:
l = [23, 65, 19,90]
l.clear()
print(l)

[]

**28-remove duplicated elements from a list

In [12]:
l=[1,2,2,4,4,5,6]
f=[*set(l)]
print(f)

[1, 2, 4, 5, 6]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [63]:
test_list = ["gfg", 3, "is", 8]
key=["name", "id"]

      
result = [{key[i]: test_list[i]} for i in range(len(test_list)-1)]

IndexError: list index out of range

**30-write a python program to count unique values inside a list using different ways

In [6]:
l=[1,2,3,4,5,6,1]
print(len(set(l)))

6

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [59]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K =3
listt=[]
c=0
for i in test_list:
    for j in test_list:
        if i==j:
            c+=1
            if c>K:
                listt.append(i)
    c=0            
li=set(listt)
print(list(li))

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [61]:
listt = [1,2,2,3,4,5]
ans = []
if listt[0]>listt[1]:
    ans.append(listt[0])
for i in range(1,len(listt)-1):
    if listt[i]>=listt[i-1] or listt[i]>=listt[i+1]:
        ans.append(listt[i])
if listt[-1]>listt[-2]:
    ans.append(listt[-1])
print(ans)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [66]:
input =[1, 2, 3]
print(listt[0],listt[1],listt[2])
print(listt[0],listt[2],listt[1])
print(listt[1],listt[0],listt[2])
print(listt[1],listt[2],listt[0])
print(listt[2],listt[1],listt[0])
print(listt[2],listt[0],listt[1])

1 2 2
1 2 2
2 1 2
2 2 1
2 2 1
2 1 2

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [67]:
test_list = [1,2,3]
ans=[]
for i in range(len(test_list)):
    for j in range(i,len(test_list)):
        ans.append(test_list[i:j+1])
print(ans)

[[1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [70]:
from itertools import product

def get_unique_combinations(list1, list2):
    combinations = list(product(list1, list2))
    unique_combinations = [list(combination) for combination in set(combinations)]
    return unique_combinations
list2 = [1, 2]
list1 = ['A', 'B']
output = get_unique_combinations(list1, list2)
print(output)

[['B', 2], ['A', 1], ['A', 2], ['B', 1]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [28]:
l=[1,1,1,2,3,4,5,1,2,1,1,1,1,1]
l=[i for i in l if i!=1]


print(l)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [3]:
lt0=["Gfg", "is", "best"]
lt1=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
lt1=str(lt1).replace("0",lt0[0])
lt1=str(lt1).replace("1",lt0[1])
lt1=str(lt1).replace("2",lt0[2])
print(lt1)

[Gfg, is, best, is, Gfg, Gfg, Gfg, best, is, is, best, Gfg]

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [26]:
test_list = [(4, 5, 5, 4), (5,5,5, 4, 3)]
k=5
n=4
f=[]
c=0
for i in test_list:
    for l in i:
        if l==k:
           c+=1
           if c==n:
             f.append(i)
              
    c=0         
          
print(f)

[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [17]:
x=[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
sorted0=sorted(x,key=lambda x:x[0])
sortted1=sorted(x,key=lambda x:x[1])
sorted2=sorted(x,key=lambda x:x[2])
print (sorted0)
print (sortted1)
print (sorted2)

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [13]:
x={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sortted=sorted(x.items(),key=lambda x:x[1])
print(sortted)

[('yash', 2), ('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32)]

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [47]:
test_dict = {"Gfg" : 3,"is" : 7, "best" : 10, "for": 6,"geeks" : "CS"}
k=7
test_dict={key: value for key, value in test_dict.items() if (not isinstance(value, (int, float)) or value < k)}

print(test_dict)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [50]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
def iterate (dic1):
    for i in dic1:
        print (dic1[i])

**44- Write a Python script to merge two Python dictionaries

In [ ]:
def merge(dic1,dic):

 return(dic1.update(dic))

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [56]:
test_dict = {"Gfg" : 3,"is" : 7, "best" : 10, "for": 11}
k=0
j=next(iter(test_dict))
f=test_dict[j]
for i,v in test_dict.items():
    if v>k:
        k=v
for i,v in test_dict.items():
    
    if v<f:
        f=v    
print(k)
print(f)

11
3

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [19]:
OriginalDictionary={'c1': 'Red', 'c2': 'Green', 'c3': None}
for i,v in test_dict.items():
    if v==None:
        OriginalDictionary.popitem()
    
print(OriginalDictionary)

{'c1': 'Red', 'c2': 'Green', 'c3': None}

**47-Write a Python program to create a tuple of numbers and print one item

In [20]:
l=(1,2,3,3,4)
print(l[0])

1

**48-Write a Python program to unpack a tuple into several variables

In [23]:
l=(1,2,3,3,4)
(a,b,c,d,e)=l
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
3
4

**49-Write a Python program to add an item to a tuple

In [26]:
l=(1,2,3,3,4)
l+=(input(),)
print(l)

(1, 2, 3, 3, 4, '6')

**50-Write a Python program to convert a tuple to a string

In [30]:
l=("t",'o','n','y')
f=''.join(l)
##for i in l:
   # f=f+i
print(f)

tony

**51-Write a Python program to convert a list to a tuple

In [31]:
l=[1,2,3,3,4]
f=tuple(l)
print(f)

(1, 2, 3, 3, 4)

**52-Write a Python program to reverse a tuple

In [32]:
l=("t",'o','n','y')
d=l[::-1]
print(d)

('y', 'n', 'o', 't')

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [34]:
x=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in x:
    for f in i:
         i[len(i)-1]=100
print(x)

TypeError: 'tuple' object does not support item assignment

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [35]:
x='python3.0'
f=tuple(x)
print(f)

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [36]:
l=(1,2,3,3,4)
f=0
for i in l:
    f+=i
f=f/len(l)
print (f)

2.6

**56-Write a Python program to add member(s) to a set.

In [38]:
set2 = {1, 5, 7, 9, 3}
set2.add(10)
print(set2)

{1, 3, 5, 7, 9, 10}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [49]:
set2 = {1,5,4,6}
set2.remove(6)
print(set2)

{1, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [51]:
set2 = {1,5,4,6}
set1 = {1,10,28,8,6}
z=set1.intersection(set2)
q=set1.union(set2)
w=set1.symmetric_difference(set2)
e=set1.difference(set2)
print(z)
print(q)
print(w)
print(e)

{1, 6}
{1, 4, 5, 6, 8, 10, 28}
{4, 5, 8, 10, 28}
{8, 10, 28}

**59-Write a Python program to find the maximum and minimum values in a set

In [50]:
set2 = {1,5,4,6}
k=0
f=set2[0]
for i in set2:
    if i>k:
        k=i
for i in set2:
    
    if i<f:
        f=i 
print(k)
print(f)

6
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.